@import './dish.scss';
@import './footer.scss';

.main-content {
  padding-top: 50px;
  padding-bottom: 50px;
}

.dish-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}
